<h1>Aplikacja klikacz</h1>
<div class="box">
  <app-klikacz1></app-klikacz1>
  <app-klikacz2></app-klikacz2>
</div>


<!--<div>
    <div class="container">
      <app-add-task (emitTask)= "add($event)"></app-add-task>
    </div>


    <div class="container">
        <div>
        <app-todo-task [tasksList]="tasksList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-todo-task>
      </div>
        <div>
          <app-done-task [tasksDone]="tasksDone"></app-done-task>
      </div>

    </div>
  </div>-->





